    .fast{
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both
    }
    #themecolors .selector, .cursor{
        cursor: pointer;
        
    }

    #buttonDiv{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .googleBtn{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .img-avatar{
        width: 200px;
        height: 200px;
    }

    .w100{
        width: 100px;
    }
    .w140{
        width: 140px;
    }
    .w200{
        width: 200px;
    }
    .w75{
        width: 75px;
    }

    .avatar{
        width: 30px;
        /* border-radius: 70%; */
    }

    .fondo-modal-imagen{
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0px;
        height: 100%;
        top: 0px;
        width: 100%;
        z-index: 9999;
    }

    .oculto{

        display: none;
        
    }